div p-3
  div bg-pink-900 rounded-md text-center
    endpoints
  div mt-3
    form id=verb-form flex space-x-6
      div id=mode
        Add
      div text-black
        select id=verb p-1
          option
            POST
          option
            GET
          option
            PATCH
          option
            DELETE
          option
            PUT
      div
        input id=route type=text autofocus=on text-black
  div mt-3 id=routes
    {{ $items := index . "items" }}
    {{ $m := index . "map" }}
    {{ range $i, $k := $items }}
    div id=top-{{$k}}
      {{ $list := index $m $k }}
      {{ template "point" $list }}
    div bg-pink-600 h-1 rounded-md my-3
    {{ end }}
