{{ define "point" }}
  {{ range $j, $item := . }}
    {{ $guid := index $item "id" }}
    div cursor-pointer id=cp{{$guid}}
      div flex 
        div w-12 id=rv{{$guid}}
          {{ index $item "verb" }}
        div id=rt{{$guid}}
          {{ index $item "name" }}
      div hidden id=r{{$guid}} bg-gray-600 p-3
        div
          curl -H "Content-Type: application/json" -H "Authorization: Bearer bd592b7f-eba2-0af3-c30f-5e8531bb0585" "http://localhost:3001/api/site"
        div
          curl -H "Content-Type: application/json" -H "Authorization: Bearer bd592b7f-eba2-0af3-c30f-5e8531bb0585" "http://localhost:3001/api/site" -d '{"guid": "93ca88bc-ee83-60a5-9839-9d9bf885c6da", "foo": "123450000039", "name": "hi"}' 
    {{ end }}
  {{ end }}
