package main

import (
	"math/rand"
	"os"
	"time"
  "encoding/json"
  "fmt"
  "gymapp/network"
)

func main() {
	rand.Seed(time.Now().UnixNano())

	if len(os.Args) == 1 {
		//PrintHelp()
		return
	}
	command := os.Args[1]

	if command == "thing" {
	} else if command == "other" {
  {{ .Menu }}
	} else if command == "help" {
		//PrintHelp()
	}
}

